
.css-15fe1bx {
  scrollbar-color: rgb(153, 99, 197) white;
  scrollbar-width: thin;
}

.css-9nej9x{
  scrollbar-color: rgb(99, 119, 197) white;
  scrollbar-width: thin;
}

.css-12g72tt{
  scrollbar-color: rgb(99, 197, 124) white;
  scrollbar-width: thin;
}

.css-14b9ewa{
  scrollbar-color: rgb(197, 140, 99) white;
  scrollbar-width: thin;
}

.css-1mfmwi6{
  scrollbar-color: rgb(197, 99, 99) white;
  scrollbar-width: thin;
}